@use '../../styles//base.scss' as *;
@use '../../styles//style.scss' as *;

.box {
  position: fixed;
  right: 100px;
  bottom: 50px;
  z-index: 10;
  cursor: pointer;
}

.backTop {
  height: 50px;
  width: 50px;
  border-radius: 14px;
  color: $textColor;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $themeColor1;
  @extend .hover;
}
